In [317]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [318]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
410,tt0938283,150000000,318502923,The Last Airbender,Noah Ringer|Nicola Peltz|Jackson Rathbone|Dev ...,M. Night Shyamalan,"Four nations, one destiny","The story follows the adventures of Aang, a yo...",103,Action|Adventure|Family|Fantasy,Paramount Pictures|Nickelodeon Movies|Kennedy/...,6/30/2010,4.7,2010
751,tt1324999,110000000,712171856,The Twilight Saga: Breaking Dawn - Part 1,Kristen Stewart|Robert Pattinson|Taylor Lautne...,Bill Condon,Forever is just the beginning,The new found married bliss of Bella Swan and ...,117,Adventure|Fantasy|Romance,Summit Entertainment|Sunswept Entertainment|To...,3/15/2011,5.8,2011
1018,tt1506999,23000000,33372606,Haywire,Gina Carano|Ewan McGregor|Michael Fassbender|B...,Steven Soderbergh,They left her no choice.,Mallory Kane is a highly trained operative who...,93,Thriller,Irish Film Board|Relativity Media,1/18/2012,5.5,2012
1132,tt0349205,40000000,190212113,Cheaper by the Dozen,Steve Martin|Bonnie Hunt|Piper Perabo|Tom Well...,Shawn Levy,Growing pains? They've got twelve of them!,The Baker brood moves to Chicago after patriar...,98,Comedy|Drama|Family,Twentieth Century Fox Film Corporation|Robert ...,12/24/2003,5.8,2003
940,tt0257360,30000000,105834556,About Schmidt,Jack Nicholson|Kathy Bates|Hope Davis|Dermot M...,Alexander Payne,Schmidt Happens,66-year-old Warren Schmidt is a retired insura...,125,Drama|Comedy,New Line Cinema|Avery Pix,12/13/2002,6.7,2002

In [319]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [320]:
answers = {} # создадим словарь для ответов

profit = data['revenue'] - data['budget'] # добавляем колонку бюджет

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [321]:
from datetime import datetime, date, timedelta
data['release_date'] = pd.to_datetime(data['release_date'])

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [322]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '1.Pirates of the Caribbean: On Stranger Tides' # +
# если ответили верно, можете добавить комментарий со значком "+"

In [323]:

data[data['budget'] == data['budget'].max()]['original_title'].values[0] # тут пишем ваш код для решения данного вопроса:

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [324]:
 data[(data.budget == data.budget.max())].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [325]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals' # +

In [326]:
data[data['runtime'] == data['runtime'].max()]['original_title'].values[0]

'Gods and Generals'

In [327]:
data[(data.runtime == data.runtime.max())].original_title # вариант 2

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [328]:
# вопрос 3
answers['3'] = 'Winnie the Pooh' 


data[data['runtime'] == data['runtime'].min()]['original_title'].values[0]

'Winnie the Pooh'

In [329]:
data[(data.runtime == data.runtime.min())].original_title # вариант 2

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [330]:
# вопрос 4
answers['4'] = '110' 

data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [331]:
# вопрос 5
answers['5'] = '107'

data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [332]:
# вопрос 6
answers['6'] = 'Avatar' 

profit = data['revenue'] - data['budget']
data.loc[:, 'profit'] = profit
data[data['profit'] == data['profit'].max()]['original_title'].values[0]

'Avatar'

# 7. Какой фильм самый убыточный?

In [333]:
# вопрос 7
answers['7'] = 'The Lone Ranger' 

data[data['profit'] == data['profit'].min()]['original_title'].values[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [334]:
# вопрос 8
answers['8'] =  '1478' 


data2 = data.index[data['profit'] > 0]
len(data2)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [335]:
# вопрос 9
answers['9'] = 'The Dark Knight' 


max_release_2008 = data[(data['release_year'] == 2008)].revenue.max()
data[(data.revenue == max_release_2008) & (data['release_year'] == 2008)].original_title.unique()

array(['The Dark Knight'], dtype=object)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [336]:
answers['10'] = 'The Lone Ranger' 

data[data['profit'] == data['profit'].min()]['original_title'].values[0] # в задании 7 находили самый убыточный фильм
                                                                         # проверим год его выхода, "бинго" )

'The Lone Ranger'

In [337]:
data[(data.profit == data.profit.min())].release_year  # совпадает с условием задания

1245    2013
Name: release_year, dtype: int64

In [338]:
# второй вариант решения

data_2012_2014 = data[(data['release_year'] > 2011) & (data['release_year'] < 2015)]
data_2012_2014.sort_values('profit', ascending=True)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090
1214,tt0790736,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,2013-07-18,5.3,2013,-68351500
1007,tt1374992,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,2012-09-27,6.1,2012,-51893525
1302,tt0884726,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,2013-06-13,6.1,2013,-51337973
1235,tt1308729,55000000,9489829,Bullet to the Head,Sylvester Stallone|Sung Kang|Sarah Shahi|Adewa...,Walter Hill,Revenge Never Gets Old.,"After watching their respective partners die, ...",92,Action|Crime|Thriller,Dark Castle Entertainment|After Dark Films|IM ...,2013-01-31,5.2,2013,-45510171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,tt1690953,76000000,970761885,Despicable Me 2,Steve Carell|Kristen Wiig|Benjamin Bratt|Miran...,Pierre Coffin|Chris Renaud,Back 2 Work,Gru is recruited by the Anti-Villain League to...,98,Animation|Comedy|Family,Universal Pictures|Illumination Entertainment,2013-06-25,7.0,2013,894761885
974,tt1074638,200000000,1108561013,Skyfall,Daniel Craig|Judi Dench|Javier Bardem|Ralph Fi...,Sam Mendes,Think on your sins.,When Bond's latest assignment goes gravely wro...,143,Action|Adventure|Thriller,Columbia Pictures,2012-10-25,6.8,2012,908561013
1180,tt1300854,200000000,1215439994,Iron Man 3,Robert Downey Jr.|Gwyneth Paltrow|Guy Pearce|D...,Shane Black,Unleash the power behind the armor.,When Tony Stark's world is torn apart by a for...,130,Action|Adventure|Science Fiction,Marvel Studios,2013-04-18,6.9,2013,1015439994
1177,tt2294629,150000000,1274219009,Frozen,Kristen Bell|Idina Menzel|Jonathan Groff|Josh ...,Chris Buck|Jennifer Lee,Only the act of true love will thaw a frozen h...,Young princess Anna of Arendelle dreams about ...,102,Animation|Adventure|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2013-11-27,7.5,2013,1124219009
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,2012-04-25,7.3,2012,1299557910

# 11. Какого жанра фильмов больше всего?

In [339]:
answers['11'] = 'Drama' 

Counter(data.genres.str.split('|').sum()).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [340]:
data_gen = data.copy()
data_gen['genres'] = data_gen.genres.str.split('|') # в колонке'genres' делаем списки
data_gen = data_gen.explode('genres') # в колонке'genres' списки делим построчно
data_gen.genres.value_counts() # считаем количество

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [341]:
answers['12'] = 'Drama' # +

data_max_gen = data_gen[data_gen['profit'] > 0]
data_max_gen.genres.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [342]:
answers['13'] = 'Peter Jackson'   # +

data_dr = data.copy()
data_dr['director'] = data_dr.director.str.split('|')
data_dr = data_dr.explode('director')
data_dr.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [343]:
answers['14'] = 'Robert Rodriguez' # +


data_dr2 = data_dr.copy()
data_dr2['genres'] = data_dr2.genres.str.split('|')
data_dr2 = data_dr2.explode('genres')
data_dr2 = data_dr2[data_dr2['genres'] == 'Action']
data_dr2.director.value_counts()

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
John Stockwell        1
Joe Wright            1
Joseph Kahn           1
Mark Andrews          1
Rob Zombie            1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [344]:
answers['15'] = 'Chris Hemsworth'  # +

data_cast = data.copy()
data_cast['cast'] = data_cast.cast.str.split('|')
data_cast = data_cast.explode('cast')
data_cast = data_cast[data_cast['release_year'] == 2012]
data_cast.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [345]:
answers['16'] = 'Matt Damon'   # +


data_cast2 = data.copy()
data_cast2['cast'] = data_cast2.cast.str.split('|')
data_cast2 = data_cast2.explode('cast')
data_cast2 = data_cast2[data_cast2['budget'] > data['budget'].mean()]
data_cast2.cast.value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
Jim Beaver            1
Claudia Christian     1
Rory Culkin           1
Steven Strait         1
James Remar           1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [346]:
answers['17'] = 'Action '


data_cage = data.copy() 
data_cage['genres'] = data_cage.genres.str.split('|')
data_cage = data_cage.explode('genres')
data_cage = data_cage[data_cage.cast.str.contains('Nicolas Cage')]
data_cage.genres.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Horror              1
Romance             1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [347]:
answers['18'] = 'K-19: The Widowmaker'


data_par = data.copy()
data_par = data_par[data_par.production_companies.str.contains('Paramount Pictures')]
data_par.sort_values('profit', ascending=True)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034
1123,tt0300556,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,2003-11-26,5.1,2003,-60519261
1722,tt0435705,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,2007-04-24,5.9,2007,-51788987
1623,tt0375173,60000000,13395939,Alfie,Jude Law|Marisa Tomei|Omar Epps|Jane Krakowski...,Charles Shyer,Meet a man who never met a woman he didn't love.,"In Manhattan, the British limousine driver Alf...",103,Comedy,Paramount Pictures|Patalex Productions,2004-10-22,5.4,2004,-46604061
1631,tt0315297,50000000,25195000,Twisted,Ashley Judd|Samuel L. Jackson|Andy GarcÃ­a|Dav...,Philip Kaufman,Every murder has a mark.,Recently promoted and transferred to the homic...,97,Action|Adventure|Crime|Drama|Thriller,Paramount Pictures|Kopelson Entertainment|Harl...,2004-02-27,5.7,2004,-24805000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,tt1229238,145000000,694713380,Mission: Impossible - Ghost Protocol,Tom Cruise|Jeremy Renner|Simon Pegg|Paula Patt...,Brad Bird,No Plan. No Backup. No Choice.,In the 4th installment of the Mission Impossib...,133,Action|Thriller|Adventure,Paramount Pictures|Skydance Productions|Bad Ro...,2011-12-07,6.7,2011,549713380
1738,tt0418279,150000000,709709780,Transformers,Shia LaBeouf|Josh Duhamel|Megan Fox|Rachael Ta...,Michael Bay,Their war. Our world.,"Young teenager, Sam Witwicky becomes involved ...",144,Adventure|Science Fiction|Action,Paramount Pictures|DreamWorks SKG|Amblin Enter...,2007-06-27,6.6,2007,559709780
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,2008-05-21,5.6,2008,601636033
317,tt1055369,150000000,836297228,Transformers: Revenge of the Fallen,Shia LaBeouf|Megan Fox|Josh Duhamel|Rainn Wils...,Michael Bay,Revenge is coming,Sam Witwicky leaves the Autobots behind for a ...,150,Science Fiction|Action|Adventure,Paramount Pictures|DreamWorks SKG|Amblin Enter...,2009-06-19,6.0,2009,686297228
828,tt1399103,195000000,1123746996,Transformers: Dark of the Moon,Shia LaBeouf|John Malkovich|Ken Jeong|Frances ...,Michael Bay,The invasion we always feared. An enemy we nev...,Sam Witwicky takes his first tenuous steps int...,154,Action|Science Fiction|Adventure,Paramount Pictures|Di Bonaventura Pictures|Has...,2011-06-28,6.1,2011,928746996

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [348]:
answers['19'] = '2015'


data.groupby('release_year').sum()
data.groupby('release_year').sum().max()
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [349]:
answers['20'] = '2014'


data_wb = data.copy()
data_wb = data_wb[data_wb.production_companies.str.contains('Warner Bros')]
data_wb.groupby('release_year')['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [350]:
answers['21'] = 'Сентябрь'

data['release_month'] = data['release_date'].dt.month
data.release_month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [351]:
answers['22'] = '450'


data_sf= data.copy()
data_sf = data_sf[(data_sf['release_month'] > 5) & (data_sf['release_month'] < 9)]
data_sf

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810,6
6,tt1340138,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,Alan Taylor,Reset the future,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,2015-06-23,5.8,2015,285603537,6
8,tt2293640,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,2015-06-17,6.5,2015,1082730962,6
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015,678708609,6
13,tt2120120,88000000,243637091,Pixels,Adam Sandler|Michelle Monaghan|Peter Dinklage|...,Chris Columbus,Game On.,Video game experts are recruited by the milita...,105,Action|Comedy|Science Fiction,Columbia Pictures|Happy Madison Productions,2015-07-16,5.8,2015,155637091,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1873,tt0160009,40000000,30199105,The Art of War,Wesley Snipes|Donald Sutherland|Maury Chaykin|...,Christian Duguay,Who is your foe?,When ruthless terrorists threaten to bring dow...,117,Action|Adventure|Thriller,Amen Ra Films|Franchise Pictures|Warner Bros.|...,2000-08-23,5.7,2000,-9800895,8
1875,tt0219854,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,2000-07-07,5.9,2000,4700000,7
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,2000-07-13,6.6,2000,82299717,7
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,2000-06-30,4.0,2000,-40865180,6
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,2000-07-19,5.2,2000,-9782502,7

# 23. Для какого режиссера зима – самое продуктивное время года?

In [352]:
answers['23'] = 'Peter Jackson'


data_director_month = data.copy()
data_director_month['director'] = data_director_month.director.str.split('|')
data_director_month = data_director_month.explode('director')
data_director_month = data_director_month[(data_director_month['release_month'] < 3) | (data_director_month['release_month'] == 12)]
data_director_month.director.value_counts()

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Nancy Meyers         4
Adam Shankman        4
                    ..
Nick Cassavetes      1
Wayne Kramer         1
David Fincher        1
Anthony Minghella    1
Nick Hurran          1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [353]:
answers['24'] = 'Four By Two Productions'


data_companies = data.copy()
data_companies['production_companies'] = data_companies.production_companies.str.split('|')
data_companies = data_companies.explode('production_companies')
data_companies['original_title'] = data_companies['original_title'].apply(lambda x: len(x))
data_companies.groupby(['production_companies'])['original_title'].mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: original_title, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [354]:
answers['25'] = 'Midnight Picture Show'


data_overview = data_companies.copy()
data_overview['overview'] = data_overview.overview.str.split(' ')
data_overview['overview'] = data_overview['overview'].apply(lambda x: len(x))
data_overview.groupby(['production_companies'])['overview'].mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [355]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'


data26 = data.copy()
data26 = data26[data26['vote_average'] > data26['vote_average'].quantile(.99)]
data26.original_title.unique()

array(['Inside Out', 'Room', 'Interstellar', 'Guardians of the Galaxy',
       'The Imitation Game', 'Gone Girl', 'The Grand Budapest Hotel',
       'Inception', 'The Dark Knight', 'The Pianist',
       'The Lord of the Rings: The Return of the King',
       'The Wolf of Wall Street', '12 Years a Slave', 'Memento'],
      dtype=object)

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [356]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'


data27 = data.copy()
data27['cast'] = data27.cast.str.split('|')
data27_1 = data27['cast']
from itertools import combinations
data27_1 = data27_1.apply(lambda x: list(combinations(x, 2)))
data27_2 = data27_1.copy()
data27_2 = data27_2.explode()
data27_2.value_counts()

(Daniel Radcliffe, Rupert Grint)            8
(Daniel Radcliffe, Emma Watson)             8
(Rupert Grint, Emma Watson)                 7
(Johnny Depp, Helena Bonham Carter)         6
(Ben Stiller, Owen Wilson)                  6
                                           ..
(Jonathan Brewer, Morris Birdyellowhead)    1
(Chris Hemsworth, Ben Whishaw)              1
(Taylor Dooley, David Arquette)             1
(Russell Crowe, Ed Harris)                  1
(Ryan Potter, Jamie Chung)                  1
Name: cast, Length: 18121, dtype: int64

ВАРИАНТ 2

# Submission

In [357]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '1.Pirates of the Caribbean: On Stranger Tides',
 '2': '2. Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action ',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [358]:
# и убедиться что ни чего не пропустил)
len(answers)

27